<a href="https://colab.research.google.com/github/archangel2006/PYML-2025/blob/main/PYML6%20(Data%20Cleaning).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [15]:
import pandas as pd
import numpy as np

In [16]:
data = { 'School ID': [101, 102, 103, np.nan, 105, 106, 107, 108],
        'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Henry'],
         'Address': ['123 Main St', '456 Oak Ave', '789 Pine Ln', '101 Elm St', np.nan, '222 Maple Rd', '444 Cedar Blvd', '555 Birch Dr'],
         'City': ['Los Angeles', 'New York', 'Houston', 'Los Angeles', 'Miami', np.nan, 'Houston', 'New York'],
         'Subject': ['Math', 'English', 'Science', 'Math', 'History', 'Math', 'Science', 'English'],
         'Marks': [85, 92, 78, 89, np.nan, 95, 80, 88], 'Rank': [2, 1, 4, 3, 8, 1, 5, 3],
         'Grade': ['B', 'A', 'C', 'B', 'D', 'A', 'C', 'B'] }

df=pd.DataFrame(data)
print('Sample DataFrame')
print(df)

Sample DataFrame
   School ID     Name         Address         City  Subject  Marks  Rank Grade
0      101.0    Alice     123 Main St  Los Angeles     Math   85.0     2     B
1      102.0      Bob     456 Oak Ave     New York  English   92.0     1     A
2      103.0  Charlie     789 Pine Ln      Houston  Science   78.0     4     C
3        NaN    David      101 Elm St  Los Angeles     Math   89.0     3     B
4      105.0      Eva             NaN        Miami  History    NaN     8     D
5      106.0    Frank    222 Maple Rd          NaN     Math   95.0     1     A
6      107.0    Grace  444 Cedar Blvd      Houston  Science   80.0     5     C
7      108.0    Henry    555 Birch Dr     New York  English   88.0     3     B

In [17]:
df.isnull().sum()

School ID    1
Name         0
Address      1
City         1
Subject      0
Marks        1
Rank         0
Grade        0
dtype: int64

In [18]:
df[df.isnull().any(axis=1)]

   School ID   Name       Address         City  Subject  Marks  Rank Grade
3        NaN  David    101 Elm St  Los Angeles     Math   89.0     3     B
4      105.0    Eva           NaN        Miami  History    NaN     8     D
5      106.0  Frank  222 Maple Rd          NaN     Math   95.0     1     A

In [19]:
df[df.isnull().any(axis=1)]

   School ID   Name       Address         City  Subject  Marks  Rank Grade
3        NaN  David    101 Elm St  Los Angeles     Math   89.0     3     B
4      105.0    Eva           NaN        Miami  History    NaN     8     D
5      106.0  Frank  222 Maple Rd          NaN     Math   95.0     1     A

In [20]:
df_cleaned = df.dropna()
print("DataFrame After Dropping Null Values:")
print(df_cleaned)

DataFrame After Dropping Null Values:
   School ID     Name         Address         City  Subject  Marks  Rank Grade
0      101.0    Alice     123 Main St  Los Angeles     Math   85.0     2     B
1      102.0      Bob     456 Oak Ave     New York  English   92.0     1     A
2      103.0  Charlie     789 Pine Ln      Houston  Science   78.0     4     C
6      107.0    Grace  444 Cedar Blvd      Houston  Science   80.0     5     C
7      108.0    Henry    555 Birch Dr     New York  English   88.0     3     B

# Imputation Techniques

In [21]:
df['Marks']

0    85.0
1    92.0
2    78.0
3    89.0
4     NaN
5    95.0
6    80.0
7    88.0
Name: Marks, dtype: float64

In [22]:

mean_imputation= df['Marks'].fillna(df['Marks'].mean())
median_imputation= df['Marks'].fillna(df['Marks'].median())
print(mean_imputation)
print(median_imputation)

0    85.000000
1    92.000000
2    78.000000
3    89.000000
4    86.714286
5    95.000000
6    80.000000
7    88.000000
Name: Marks, dtype: float64
0    85.0
1    92.0
2    78.0
3    89.0
4    88.0
5    95.0
6    80.0
7    88.0
Name: Marks, dtype: float64

# Forward Fill & Backward Fill

In [23]:
forward_fill=df['Marks'].fillna(method='ffill')
backward_fill=df['Marks'].fillna(method='bfill')
print(forward_fill)
print(backward_fill)

0    85.0
1    92.0
2    78.0
3    89.0
4    89.0
5    95.0
6    80.0
7    88.0
Name: Marks, dtype: float64
0    85.0
1    92.0
2    78.0
3    89.0
4    95.0
5    95.0
6    80.0
7    88.0
Name: Marks, dtype: float64

/tmp/ipython-input-23-3909685174.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  forward_fill=df['Marks'].fillna(method='ffill')
/tmp/ipython-input-23-3909685174.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  backward_fill=df['Marks'].fillna(method='bfill')