<a href="https://colab.research.google.com/github/archangel2006/PYML-2025/blob/main/PYML9%20(Data%20Preprocessing%20Encoding).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import Modules

import pandas as pd
import numpy as np

# ONE HOT ENCODING

In [ ]:
df=pd.read_csv('/content/cars.csv')

In [ ]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [ ]:
df.shape

(8128, 5)

In [ ]:
# count of unique values in the 'fuel' column of your DataFrame df.

df['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [ ]:
# count of unique values in the 'owner' column of your DataFrame df.

df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [ ]:
# pd.get_dummies(...) : Converts categorical columns into binary (0/1) columns for each unique category.
# stype=int : Makes sure the resulting dummy columns are integers (0/1), not Boolean (True/False).

df_encoded=pd.get_dummies(df,columns=['fuel','owner'],dtype=int)
df_encoded.head()

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,0,1,0,0,1,0,0,0,0
1,Skoda,120000,370000,0,1,0,0,0,0,1,0,0
2,Honda,140000,158000,0,0,0,1,0,0,0,0,1
3,Hyundai,127000,225000,0,1,0,0,1,0,0,0,0
4,Maruti,120000,130000,0,0,0,1,1,0,0,0,0

# ORDINAL ENCODING

In [ ]:
#!pip install scikit-learn

# Import Related CLass & Module

from sklearn.preprocessing import OrdinalEncoder

In [ ]:
# CREATE DATAFRAME

data={'Student':['Alice','Bob','Charlie','David','Eva'],
      'Grade':['A','B','C','A','B']}
df1=pd.DataFrame(data)
print(df1)

   Student Grade
0    Alice     A
1      Bob     B
2  Charlie     C
3    David     A
4      Eva     B

In [ ]:
# INITIALIZE & APPLY OrdinalEncoder

# Creates an Ordinal Encoder object from scikit-learn
# Tells it to treat 'A'<'B'<'C' ,i.e, defining a CUSTOM ORDER.
# Encode 'A'→0,'B'→1,'C'→2
# encoder.fit_transform(...) : Learns the mapping between categorical labels (A,B,C) and applies the transformation.

encoder=OrdinalEncoder(categories=[['A','B','C']])
df1['GradeEncoded']==encoder.fit_transform(df1[['Grade']])
print(df1)

   Student Grade  GradeEncoded
0    Alice     A           0.0
1      Bob     B           1.0
2  Charlie     C           2.0
3    David     A           0.0
4      Eva     B           1.0

# LABEL ENCODING



*   Label encoding is ideal when the categories are nominal, meaning there is no rank or hierarchy among them

In [ ]:
# Import Related CLass & Module

from sklearn.preprocessing import LabelEncoder

# LabelEncoder is a class
# sklearn.preprocessing is a module

In [ ]:
df2 = pd.DataFrame({ 'CustomerID': [101, 102, 103, 104, 105, 106, 107],
                     'Gender': ['Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female'],
                      'City': ['New York', 'Paris', 'Berlin', 'New York', 'Paris', 'Berlin', 'Paris'],
                     'Purchased': ['Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'No'] })

print(df2)

   CustomerID  Gender      City Purchased
0         101    Male  New York       Yes
1         102  Female     Paris        No
2         103  Female    Berlin        No
3         104    Male  New York       Yes
4         105  Female     Paris        No
5         106    Male    Berlin       Yes
6         107  Female     Paris        No

In [ ]:
# Apply LabelEncoder to 'Gender' and 'City'

le_Gender=LabelEncoder()
le_City=LabelEncoder()

# Apply LabelEncoder in-place ,i.e, overwrite the existing 'Purchased' Column instead of creating a new one.
le_Purchased=LabelEncoder()

## le_Gender:A variable that stores the new instance of LabelEncoder. You can now use it to encode data.

In [ ]:
#encodes the 'Gender' column in your DataFrame (data) into numeric labels and saves the result in a new column called 'Gender_encoded'.

df2['Gender_Encoded']=le_Gender.fit_transform(df2['Gender'])
df2['City_Encoded']=le_City.fit_transform(df2['City'])
df2['Purchased']=le_Purchased.fit_transform(df2['Purchased'])

print(df2)

   CustomerID  Gender      City  Purchased  Gender_Encoded  City_Encoded
0         101    Male  New York          1               1             1
1         102  Female     Paris          0               0             2
2         103  Female    Berlin          0               0             0
3         104    Male  New York          1               1             1
4         105  Female     Paris          0               0             2
5         106    Male    Berlin          1               1             0
6         107  Female     Paris          0               0             2